doctype html
html
    head
        title="pug view engine"
    body
        include ./header.pug
        include ./menu.pug
        if (user)
            h3 hello #{user.displayName}
            br
        else 
            p stranger
            a(href="/auth/google") Log in here because you are not logged in
        include ./footer.pug