doctype html
html
    head
        title="pug view engine"
    body
        include ./header.pug
        if (user.auth)
            h3 hello #{user.login}
            p this is a secret route
        else 
            p this is only for logged in users
            a(href="/auth/google") Sign Up
        include ./footer.pug