doctype html
html
    head
        title="pug view engine"
    body
        include ./header.pug
        include ./menu.pug
        if (user)
            h3 hello #{user.displayName}
            - const link = user.profileImg;
            img(src=link, alt="")
            p this is a secret route
        else 
            p this is only for logged in users, use menu and log in
            br

            
        include ./footer.pug